<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
<div align="center">
    <h1>Регистрация</h1>
    <form th:action="@{/registration}" th:object="${userForm}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <th>Email</th>
                <td>
                    <input type="email" th:field="${userForm.email}">
                </td>
            </tr>
            <a th:text="${usernameError}"></a>
            <tr>
                <th>Password</th>
                <td>
                    <input type="password" th:field="${userForm.password}">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Зарегистрироваться</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>