<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="test2.js"></script>
    <style>
        li {
            list-style-type: none;
        }
    </style>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand font-weight-bold text-white" th:text="${currentUser.email}">Email</a>
        <a class="navbar-text font-weight-normal text-white">with roles:</a>
        <a class="navbar-text font-weight-normal text-white" th:each="roles : ${currentUser.roles}"
           th:text="${roles.name}+'&nbsp;'">Role</a>
    </div>
    <a class="navbar-text" href="#!" th:href="@{/logout}">Logout</a>
</div>

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-2 bg-white" style="height: 100vh;  margin-left: -20px;">
            <ul class="nav nav-pills nav-justified flex-column" style="margin-right: -15px">
                <li class="nav-item">
                    <a class="nav-link active text-left col-12" data-toggle="tab" style="margin-top: 10px;"
                       href="#adminMain">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left col-12" data-toggle="tab" href="#userMain">User</a>
                </li>
            </ul>
        </div>
        <div class="tab-content col-10">
            <div class="tab-pane show fade active" id="adminMain">
                <h1>Admin Panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#add">New User</a>
                    </li>
                </ul>
                <div id="mainPage" class="tab-content bg-white border border-white rounded-lg">
                    <div class="tab-pane fade show active" id="admin">
                        <div class="card">
                            <h3 class="card-header font-weight-bold bg-light">All users</h3>
                            <table class="card-body table table-striped" id="tableId">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="add">
                        <div class="card">
                            <form id="fromAddUser">
                                <h3 class="card-header font-weight-bold bg-light border-bottom">Add new user</h3>
                                <div class="col-3 offset-5" align="center">
                                    <h4 style="margin-top: 15px">Email</h4>
                                    <input id="addEmail" type="email" name="email" size="28" placeholder="Email address"
                                           th:field="${newUser.email}">
                                    <h4 style="margin-top: 15px">Password</h4>
                                    <input id="addPassword" type="password" name="password" size="28" placeholder="Password"
                                           th:field="${newUser.password}">
                                    <h4 style="margin-top: 15px">Role</h4>
                                    <select id="addRoles" class="custom-select" name="roleIds" th:object="${newUser}" th:field="*{roles}">
                                        <option selected disabled hidden value="1">Open this select menu</option>
                                        <option th:each="roles : ${newUser.roles}" th:value="${roles.getId()}"
                                                th:label="${roles.getName()}">User
                                        </option>
                                    </select>
                                    <button id="addUserBtn" type="submit" style="margin-top: 15px; margin-bottom: 15px" class="btn btn-success" onclick="addUser(); return false;">Add new user</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fade tab-pane" id="userMain">
                <h1>User information-page</h1>
                <div class="card">
                    <h3 class="card-header">About user</h3>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${currentUser.getId()}">ID</td>
                                <td th:text="${currentUser.getEmail()}">Email</td>
                                <td th:text="${currentUser.getPassword()}">Password</td>
                                <td>
                                    <ul>
                                        <li th:each="role: ${currentUser.getRoles()}" th:text="${role.getName()}"></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:each="userList: ${list}">
    <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalCenteredLabel">Edit
                        user</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="col-4 offset-3" align="center">
                            <h4 style="margin-top: 15px">ID</h4>
                            <input id="idInput" type="text" size="28" name="id" readonly="readonly">
                            <h4 style="margin-top: 15px">Email</h4>
                            <input id="emailInput" type="email" size="28" name="email" placeholder="Email address">
                            <h4 style="margin-top: 15px">Password</h4>
                            <input id="passwordInput" type="text" size="28" name="password" placeholder="Password">
                            <h4 style="margin-top: 15px">Role</h4>
                            <select id="selectInput" style="width: 235px" class="custom-select" name="roles">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="editUser(); return false;" form="editForm">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalCenteredLabel">Delete
                        user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="userDelete">
                        <div class="col-4 offset-3" align="center">
                            <h4 style="margin-top: 15px">ID</h4>
                            <input id="idInputDelete" type="text" size="28" name="id" readonly="readonly">
                            <h4 style="margin-top: 15px">Email</h4>
                            <input id="emailInputDelete" type="email" size="28" name="email" readonly="readonly" placeholder="Email address">
                            <h4 style="margin-top: 15px">Password</h4>
                            <input id="passwordInputDelete" type="text" size="28" name="password" readonly="readonly" placeholder="Password">
                            <h4 style="margin-top: 15px">Role</h4>
                            <select id="selectInputDelete" style="width: 235px" readonly="readonly" name="roles" class="custom-select" multiple>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" onclick="deleteUser(); return false;" form="userDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>