<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<div class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand font-weight-bold text-white" th:text="${currentUser.email}">Email</a>
        <a class="navbar-text font-weight-normal text-white">with roles:</a>
        <a class="navbar-text font-weight-normal text-white" th:each="roles : ${currentUser.roles}"
           th:text="${roles.name}+'&nbsp;'">Role</a>
    </div>
    <a class="navbar-text" href="#!" th:href="@{/logout}">Logout</a>
</div>


<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-2 bg-white" style="height: 100vh;  margin-left: -20px;">
            <ul class="nav nav-pills nav-justified flex-column" style="margin-right: -15px">
                <li class="nav-item">
                    <a class="nav-link active text-left col-12" style="margin-top: 10px;" href="/admin/">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left col-12" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h1>Admin Panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add">New User</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin">
                    <h1 class="bg-gray">All users</h1>
                    <table class="table table-striped bg-white">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${list}">
                            <td th:text="${user.id}">ID</td>
                            <td th:text="${user.email}">Email</td>
                            <td th:text="${user.password}">Password</td>
                            <td>
                                <ul>
                                    <li th:each="role: ${user.roles}" th:text="${role.name}"></li>
                                </ul>
                            </td>
                            <td>
                                <a th:href="@{'/admin/edit?id=' + ${user.id}}">Изменить</a>
                                &nbsp;&nbsp;&nbsp;
                                <a th:href="@{'/admin/delete?id=' + ${user.id}}">Удалить</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="add">Вкладка добавления юзеров</div>
            </div>
        </div>
    </div>
</div>
<!--
<div align="center">
    <h1>Пользователи</h1>
    <div>
        <h2><a href="/admin/add">Добавить пользователя</a></h2>
    </div>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <br><br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.password}">Password</td>
            <td>
                <ul>
                    <li th:each="role: ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{'/admin/edit?id=' + ${user.id}}">Изменить</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/admin/delete?id=' + ${user.id}}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div> -->
</body>
</html>