<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        li {
            list-style-type: none; /* Убираем маркеры */
        }

        ul {
            margin-top: 1px;
            margin-bottom: 1px;
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
            padding-bottom: 1px;
            padding-top: 1px;
        }
    </style>
</head>
<body>
<div align="center">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div align="center">
    <form th:object="${user}">
        <p>ID: <a th:text="${user.id}"/></p>
        <p>Email: <a th:text="${user.email}"/></p>
        <p>Password: <a th:text="${user.password}"/></p>
        <p>Role:
            <a>
                <ul>
                    <li th:each="role: ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </a></p>
    </form>
</div>
</body>
</html>